/* dream_lab_styles.css */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&family=Lobster&display=swap');

body {
  font-family: 'Inter', sans-serif;
}

.logo-font {
  font-family: 'Lobster', cursive;
}

.bg-burst {
  background: linear-gradient(to bottom right, #b0e0ff, #ffe0f0, #ffcc80);
}

.neon-shadow {
  text-shadow: 0 0 20px rgba(255, 255, 255, 0.85);
}
